body {
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    color:#6C1B1B;

}

h1, h2{
color: #550707;
font-weight: bold;
}

p {
    font-family: serif;
    font-size: 17px;
    word-spacing: 7px;
}

a {
    font-family: Georgia, 'Times New Roman';
    font-size: 19px;
    color: #1b1c6c;
    text-decoration: none;   
}

a:visited {
    color: #1b6c1f;   
}

a:hover {
    text-shadow: 2px 2px 10px #7D4994;
}

table {
    margin: auto;
   border: solid 1px;
   border-collapse: collapse;
}

td {
    border: solid 2px ;
  
}
